class #className# {
#constructor#
	constructor(#allProps#) {
		this._#prop# = #prop#;
	}

#getter#
	get #prop#() {
		return this._#prop#;
	}

#setter#
	set #prop#(newValue) {
		this._#prop# = newValue;
	}
}