using System;
using System.Collections.Generic;
using System.Text;
using System.Threading.Tasks;
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;

namespace #namespaceName#
{
	public class #className# 
	{
#properties#
    		public #type# #prop# { get; set; }

		public #className#(){}
    
#getter#
		public #type# get#prop#() {
        		return #prop#;
    		}

#setter#
    		public void set#prop#(#type# newValue) {
        		#prop# = newValue;
    		}
	}
}
