using System;
using System.Collections.Generic;
using System.Text;

namespace #namespaceName#
{
	public class #className# : #parentClassName#
	{
#has#
		public Boolean has#propName#(){
			if(this.get#propName#() != null){
				return true;
			}
			else
			{
				return false;
			}
		}
    
#is#
		public Boolean is#propName#() {
        		return this.get#propName#();
    		}

#count#
    		public int count#propName#()
        	{
        	        int i = this.get#propName#().Count;

            		return i;
        	}

#countMember#
    		public Boolean has#propName#Member()
        	{
        	        int i = this.get#propName#().Count;

			if(i > 0)
			{
				return true;
			}
			else
			{
				return false;
			}
        	}
	}
}
